@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@400;700&display=swap');

.orange {
    color: #F08769
}

/* section #left_container #menu_left #icon_left svg{
    color: #F08769;
} */
.bgwhite {
    background-color: white;
}

svg {
    color: #F08769;
}

.max-width-content {
    max-width: 1350px;
    margin: 0 auto;
    min-width: none;


}

.pagina_usuario {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#left_container {
    border-right: 1px solid #eeeeee7e;
    width: 33%;
    height: 700px;
}

#id_usuario {
    display: flex;
    font-size: 23px;
    height: 69px;
    box-shadow: 0px 25px 11px -16px rgba(0,0,0,0.1);
    margin: 23px 0px 10px -20px;
}
#id_usuario p{
    margin-left: 30px;
}


#consulte {
    font-size: 15px;
}


.menu_left {
    /* border: 1px solid blue; */
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
}


#options_left {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    height: 70px;
    border: 1px solid #eeeeee7e;
    border-left: 1px solid white;
    cursor: pointer;
}

.menu_left #icon_left {
    /* border: 1px solid red; */
    width: 5%;
    margin: 2% 3% 2% 3%;
}

#text_left {
    /* border: 1px solid red; */
    width: 300px;
    height: 45px;
}
#text_left p{
    margin-top: 3px;
}

#painel_sair {
    border-top: 1px solid #eeeeee7e;
    height: 25%;
    display: flex;
    align-items: center;
}

#sair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65%;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}



#right_container {
    /* border: 1px solid navy; */
    width: 64%;
    height: 720px;
    margin-right: 0px;
    background-color: #FAFAFA;
}

#dado_usuario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 23px;
    height: 90px;
    margin-left: 25px;
}

#menu_right {
    /* border: 1px solid blue; */
    width: 100%;
    height: 600px;
    margin-bottom: -530px;
}

#menu_right #painel_right {
    border: 1px solid #eeeeeef5;
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    gap: 0%;
    cursor: pointer;
    background-color: white;
    border-radius: 2%;
    margin-left: 20px;
}


#menu_right #painel_right #options_menu {
    /* border: 1px solid pink; */
    width: 250px;
    display: flex;
    align-items: center;
    gap: 7%;
    margin-left: 2%;
}

#menu_right #painel_right #options_detail {
    /* border: 1px solid pink; */
    width: 140px;
    display: flex;
    align-items: center;
    gap: 7%;
    padding-left: 10px;
}








@media (max-width:700px) {
    .pagina_usuario {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:700px) {
    #left_container{
        width: 90%;
        height: 700px;
        height: 530px;
    }
    #right_container{
        width: 90%;
        height: 700px;
    }
    #id_usuario{
        height: 35px;
    }
    #painel_sair{
        border-top: 1px solid #eeeeee7e;
        height: 10%;
        display: flex;
        align-items: center;
    }
    #painel_sair p{
        margin-left: 30px;
    }
   
    #menu_right {
        width: 100%;
        height: 600px;
        margin-bottom: -530px;
        margin-left: -19px;
    }
    #menu_right #painel_right {
    
        width: 98.7%;
    }
    #dado_usuario{
        height: 55px;
        margin-left: 5px;
    }
}